@charset "UTF-8";

/* Site custom styles */

b, strong {
  font-weight: 700;
}

.themed-text {
  color: #fda801;
}

/* Custom font */
@font-face {
    font-family: "bitsumishiregular";
    src: url("../fonts/bitsumishi-webfont.woff2") format("woff2"),
         url("../fonts/bitsumishi-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

h1,
.body-section h2,
#menu-logo .logo-text,
.text-button,
#generic-page h2,
#blog-main-title h1,
.blog-post h1,
.blog-post .blog-index-header .row h1,
.launch-countdown-mission-name {
  font-family: "bitsumishiregular", Raleway, "DejaVu Sans", "Open Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

.mission-section h2,
.blog-post h2,
.blog-post h3,
.blog-post .blog-index-header .row h2,
.blog-post .blog-index-header .row h3 {
  font-family: Raleway, "DejaVu Sans", "Open Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

/* Add rounded outlines around non-mainpage links */
.fh5co-main-nav .fh5co-menu-1 a.nav-link-internal {
  background-color: #e8ecf1;
  background-color: var(--theme-bg-alt-color, #e8ecf1);
  border: none;
  border-radius: 0.6em;
  color: #ffffff;
  margin-right: 1em;
  padding-left: 0.5em;
  padding-right: 0.4em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

/* Special styling for Book button */
.fh5co-main-nav .fh5co-menu-1 a.special-link {
  background-color: #ff4c52;
  background-color: var(--theme-accent-color, #ff4c52);
  color: #000000;
  font-weight: 700;
}

/* Position hero text */
.hero-section .fh5co-copy-inner {
  vertical-align: bottom;
}

.hero-section .js-fullheight-home h1,
.hero-section .js-fullheight-home h2 {
  margin-left: 20px;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000;
}

.hero-section .js-fullheight-home h2 {
  color: #ffffff;
  margin-bottom: 100px;
}

/* Style "Why Us" card items */
.service .icon .img-responsive {
  width: 90%;
  margin-bottom: 1.25em;
}

.service h3 {
  margin-bottom: 0.5em;
}

/* Style fleet items */
.mission-section .fh5co-tab-content ul {
  columns: 12em 2;
  padding-left: 0;
}

/* Style officers section */
.team-section .card p {
  margin-top: 1em;
  line-height: 1.6;
}

/* Format generic pages */
#generic-page h2 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

#generic-page h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

#generic-page p {
  line-height: 1.5;
}

#generic-page ul, ol {
  padding-left: 0;
}

#generic-page strong {
  font-weight: 700;
}

#generic-page p img {
  margin-top: 40px;
}


/* Responsive iframes */
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-bottom: 2em;
}

.iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* A container for the launch countdown on the landing page's hero block */
.hero-countdown-container {
  position: absolute;
  top: 0;
  width: 100%;
}

/* A container for the launch countdown within a normal page body */
#page-body-countdown-container {
}

/* The launch countdown box itself */
.launch-countdown {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.6em;
  padding: 1em;
  width: 22em;
  margin: 1em auto;
  text-align: center;
}

/* The text within the launch countdown box */
.launch-countdown-mission-name {
  margin: 0 0 0.5em;
  font-size: 1.5rem;
}
h3.launch-countdown-clock {
  margin: 0 !important;
  font-size: 3rem;
  font-variant-numeric: tabular-nums;
  /* Raleway does not support tabular-nums, which makes the countdown bounce around */
  font-family: Inconsolata, Consolas, "DejaVu Sans Mono", "Liberation Mono", monospace;
}
.launch-countdown-clock::before {
  content: "T-";
  opacity: 0.5;
}

/* Hide the mission name on when we're embedded in the tickets page */
#page-body-countdown-container .launch-countdown-mission-name {
  display: none;
}

/* Styling for launch countdown at lower resolutions */

@media screen and (max-height: 768px) {
  .hero-section .fh5co-copy-inner h1 {
    margin-bottom: 0.25em;
  }
  .hero-section .fh5co-copy-inner h2 {
    margin-bottom: 20%;
  }
  .hero-section .launch-countdown {
    margin: 1em auto;
    padding: 0.5em;
  }
  .hero-section .launch-countdown-mission-name {
    font-size: 1.4rem;
    margin: 0 0 0.25em;
  }
  .hero-section h3.launch-countdown-clock {
    font-size: 1.75rem;
  }
}

@media screen and (max-height: 640px) {
  .hero-section .fh5co-copy-inner h1 {
    margin-bottom: 0.2em;
  }
  .hero-section .fh5co-copy-inner h2 {
    margin-bottom: 15%;
  }
  .hero-section .launch-countdown {
    margin: 0.75em auto;
    padding: 0.5em;
  }
  .hero-section .launch-countdown-mission-name {
    font-size: 1.3rem;
    margin: 0 0 0.1em;
  }
  .hero-section h3.launch-countdown-clock {
    font-size: 1.6rem;
  }
}

@media screen and (max-height: 600px) {
  .hero-section .fh5co-copy-inner h1 {
    margin-bottom: 0;
  }
  .hero-section .fh5co-copy-inner h2 {
    line-height: 1.4;
    margin-bottom: 10%;
  }
  .hero-section .launch-countdown {
    margin: 0.5em auto;
    padding: 0.3em;
  }
  .hero-section .launch-countdown-mission-name {
    font-size: 1.25rem;
    margin: 0 0 0;
  }
  .hero-section h3.launch-countdown-clock {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 480px) {
    .hero-section .fh5co-copy-inner h2 {
      margin-bottom: 0;
  }
